BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly

AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

# 네임스페이스 안 들여쓰기 제거

NamespaceIndentation: None

IncludeBlocks: Preserve
SortIncludes: true

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
Cpp11BracedListStyle: true
ReflowComments: true
