[submodule "backend/third_party/doctest"]
	path = backend/third_party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "backend/third_party/spdlog"]
	path = backend/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
